<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="EntityFrameworkDb" providerName="System.Data.SqlClient" connectionString="Data Source=ICUBEDNB01;Initial Catalog=CHAKRA;User ID=sa;Password=P@ssw0rd;Pooling=True" />
    </connectionStrings>
</configuration>